<!-- jQuery (required by DataTables) -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

<!-- DataTables Core -->
<script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"/> 

<!-- DataTables Buttons Extension -->
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css"/>

<!-- JSZip (required for Excel export) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>

<!-- pdfMake (required for PDF export) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>

<!-- DataTables Export Buttons -->
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>

<!-- Select2 (if you use it) -->
<script src="{{ '/assets/js/select2.min.js' | relative_url }}"></script>
<link rel="stylesheet" type="text/css" href="{{ '/assets/css/select2.min.css' | relative_url }}"/>

<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<!-- Custom Styles -->
<link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">

<!-- Set document language -->
<script>
  // Set on html element immediately (this works in head)
  document.documentElement.lang = '{{ page.lang | default: "en" }}';
  
  // Set on body when it exists
  (function() {
    function setBodyLang() {
      if (document.body) {
        document.body.setAttribute('data-lang', '{{ page.lang | default: "en" }}');
      } else {
        setTimeout(setBodyLang, 10);
      }
    }
    setBodyLang();
  })();
</script>

<!-- Include navigation filter -->
{% include nav_filter.html %}

<!-- Include TOC filter for parent pages -->
{% include toc_filter.html %}


















